*{
    box-sizing: border-box;
    margin: 0;
    

}


/* --------ejercicio 2 barra de navegación */
#navBar{
    
    width: 100%;
    min-height: 6em;
    flex-wrap:nowrap;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(9,24,51);
    box-shadow: 0 10px 3px 3px rgb(0,255,159),
    ;
}
@media screen and (max-width: 420px) {
    #navBar{
        justify-content: space-between;
        align-items: center;

        flex-wrap: wrap;
    }

}

#enlaces{
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}
.enlace{
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(10,189,198);
    transition: color 0.3s, text-decoration 0.3s;
    
}

.enlace:hover{
    text-decoration: underline;
    color: rgb(223,192,233);
}

#logo{
    
    display: flex;
    flex-direction: column;
    align-items: center;

}
#logo img{
    width: 20%;
    height: 20%;
    min-width: 5em;
    border-radius: 50%;
    border: solid rgb(234,0,217) 0.3em;
}
