*{
    box-sizing: border-box;
    margin: 0;    

}
html,body{
    height: 100%;
    width: 100%;
    overflow:auto;
}
body{
    background-image: url(../media/fondoNeon.jpg);
    background-size:cover;
    background-position-y:bottom;
    background-color: rgba(0,0,0,1);
}
.container{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    width: 100%;
    height: 88%;
    display: grid;
    place-items: center;
    

}

@media (max-width: 550px) {
    .container{
        font-size: 0.8em;
    }
}
@media (max-width: 410px) {
    .container{
        font-size: 0.6em;
    }
    
}
@media (max-width: 320px) {
    .container{
        font-size: 0.5em;
    }
    
}

.encabezado{
    padding: 1em;
    font-weight: 900;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-variant: small-caps;
    font-size: 2.5em;
    text-shadow: 0 0.05em 5px rgb(15, 94, 120);
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 1em 4em;
}

/* --------ejercicio 2 barra de navegación */
#navBar{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: sticky;
    top:0;
    left:0;
    z-index: 1000;
    width: 100vw;
    min-height: 12%;
    display: flex;
    justify-content: center;
    background-color: rgb(1,1,43);
    box-shadow: 0 0 3px rgb(255,42,109),
    0 0 5px rgb(255,42,109),
    0 0 10px rgb(255,42,109),
    0 0 20px rgb(255,42,109),
    0 0 30px rgb(255,42,109);
}

/* contenedor para asegurar que haya un padding fijo a ambos lados  */
#navContainer{
    width: 90vw;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
/* arreglo para que sea responsive */
@media (max-width: 480px) {
    #navContainer{
        width: 90vw;
        font-size: 0.8em;
        flex-direction: column;
    }    

}
#enlaces{

    font-weight: bold;
    font-variant: small-caps;
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}

.enlace{
    font-style:oblique;

    font-size: 1.7em;
    text-decoration: none;
    color: rgb(255,42,109);
    transition: color 0.3s, text-decoration 0.3s;
    
}

.enlace:hover{
    text-decoration: underline;
    color: rgb(250, 122, 162);
    text-shadow:  0 0 5px rgb(255,42,109),
    0 0 10px rgb(255,42,109),
    0 0 20px rgb(255,42,109),
    0 0 40px rgb(255,42,109),
    0 0 80px rgb(255,42,109);
}

#logo{
    max-width: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img{
    width: 20%;
    height: 20%;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: solid rgb(246, 65, 122) 0.2em;
}

/* --------ejercicio 4 tarjeta que gira */
#Ppal{
    font-size: 0.7em;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    perspective: 1000px;
}
#gira{
    width: 35em;

    aspect-ratio: 5/7;
    /* queda más suave con 1 segundo */
    transition: transform 1.0s;
    transform-style: preserve-3d;

}
#gira:hover{
    transform: rotateY(180deg);
}
.cara{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgba(209,247,255,0.6);
    box-shadow:  0 0 5px rgb(2, 147, 157),
    0 0 10px rgb(10, 108, 114),
    0 0 20px rgb(37, 110, 116),
    0 0 40px rgb(53, 95, 98),
    0 0 80px rgb(60, 90, 92);
    animation: tarjeta 5s;

}
/* animacion porque me apetecía */
@keyframes tarjeta {
    from {
    background-color: rgb(209,247,255);
    box-shadow:  0 0 5px rgb(5,217,232),
    0 0 10px rgb(16, 219, 233),
    0 0 20px rgb(54, 219, 230),
    0 0 40px rgb(122, 213, 219),
    0 0 80px rgb(120, 162, 165);}
    to{
     background-color: rgba(209,247,255,0.6);
    box-shadow:  0 0 5px rgb(2, 147, 157),
    0 0 10px rgb(10, 108, 114),
    0 0 20px rgb(37, 110, 116),
    0 0 40px rgb(53, 95, 98),
    0 0 80px rgb(60, 90, 92);
    }
    
}

#trasera{
    border-radius: 1em 20em 1em 5em;
    transform: rotateY(180deg);
}
#frontal{
    border-radius: 20em 1em 5em;
}

/* --------ejercicio 1 tarjeta */
.cara article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em;

    
}

.titulo{
    font-family:Verdana, Tahoma, sans-serif;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 3.5em;
    text-align: center;
    width: 90%;
}
#descripcion{
    font-family:Arial, Helvetica, sans-serif;
    font-style: oblique;
    font-variant: small-caps;
    text-align: center;
    font-size: 1.9em;
    font-weight: 500;
    width: 90%;

}
#imagen{
    max-width: 35%;
    border-radius: 4em 1em 3em ;
    height: auto;
}
.lista{
    width: 90%;
    padding: 0px;
    display: flex;
    list-style-type: none;
}
#redes{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
    text-shadow: 0 0.1em 3px rgb(30, 77, 94);
}
#redes li{
    padding-inline: 2em;
}
#referencias{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
    font-size: 2em;
    font-weight: 500;
}
.referencia{
    text-align: justify;
    justify-items: center;
}
.quote{
    font-style: oblique;
    font-size: 1em;
}
.person{
    font-size: 0.7em;
}


/* --------ejercicio 3 galería */

#galeria{
    width: 98%;
    height: 98%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em,1fr));
    
    gap: 0.5em;

}

.grande{
    grid-column: span 2;
}
@media (max-width: 400px) {
    .grande{
        grid-column: span 1;
    }
 }
.elemento{
    
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 1em 0.2em;
    background-color:rgba(200, 236, 243, 0.7);
}
.elemento figcaption{
    text-align: center;
    font-weight: bold;
    color: rgb(25, 30, 31);
    text-shadow: 0 0.05em 5px rgb(49, 100, 100);
    padding: 0.2em;
    font-size: 2em;
}
.elemento img{
    width: 100%;
    min-width: 20em;
    border-radius:1em 0.2em;
    padding: 0.2em;    
    
    object-fit: cover;

}

/* --------ejercicio 5 registro */

#registro {
    width: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(203, 241, 251);
    padding: 2em;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../media/fondoAbstract.jpg);
    border-radius: 3em 0.5em;
    box-shadow: 0 0 15px rgba(94, 208, 246, 0.753);
}

@media (max-width: 770px) {
    #registro{
        width: 30em;
    }
}
@media (max-width: 340px) {
    #registro{
        width: 95%;
    }
}
#registro h1 {
    text-align: center;
    text-shadow: 0 0.05em 5px rgb(15, 94, 120);
    margin-bottom: 0.5em;
    font-variant: small-caps;
    font-size: 3em;
}

.campo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 0.5em;
}

@media (max-width: 330px) {
    .campo{
        flex-direction: column;
    }
}

#registro label {
    margin: 0.3em;
    font-size: 1.4em;
    font-style: normal;
    font-weight:700;
    text-shadow: 0 0.05em 5px rgb(12, 69, 88);

}

#registro input {
    
    font-size: 1em;
    padding: 1em;
    border-radius: 1em 0.5em;
    border: 3px solid rgba(130, 235, 249, 0.8);
    outline: 3px solid rgba(130, 235, 249, 0.6);
    transition: 0.3s;
    background-color: rgb(209, 233, 235);
}

#registro input:focus {
    width: 100%;
    border-radius: 2em 0.5em; 
    box-shadow: 2px 3px 3px 4px rgba(0, 0, 0,0.5);
}


#registro input:valid {
    border-color: #0c9270;
    border-radius: 2em 0.5em; 
    width: 100%;

}

#registro input:invalid {
    border-color: #da225c;
}

#registro input:focus:invalid {
    border-color: #da225c;

}

#registro input:focus:valid {
    border-color: #2ecc71;
}

#registro button {
    width: fit-content;
    margin-top: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 5px;
    background-color: rgb(15, 94, 120);
    color: rgb(254, 253, 253);
    font-size: 1.3em;
    align-self: center;
    cursor: pointer;
}

#registro button:hover {
    background-color: rgb(33, 185, 236);
}

#registro button:active {
    cursor:wait;
}
