*{
    box-sizing: border-box;
    margin: 0;
    

}
html,body{
    height: 100%;
    width: 100%;
    overflow:auto;
}
#container{
    width: 100%;
    height: 88%;
    background-image: url(../media/callejuela.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    

}

/* --------ejercicio 2 barra de navegación */
#navBar{
    position: sticky;
    width: 100%;
    min-height: 12%;
    display: flex;
    justify-content: center;
    background-color: rgb(1,1,43);
    box-shadow: 0 0 10px rgb(255,42,109),
    0 0 10px rgb(255,42,109),
    0 0 20px rgb(255,42,109),
    0 0 40px rgb(255,42,109),
    0 0 80px rgb(255,42,109);
    /* box-shadow: 0 10px 3px 3px rgb(0,255,159),
    ; */
}

/* contenedor para asegurar que haya un padding fijo a ambos lados  */
#navContainer{
    width: 90%;
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
}
/* arreglo para que sea responsive */
@media (max-width: 480px) {
    #navContainer{
        width: 98%;
        font-size: 0.8em;
        align-items: center;
        flex-direction: column;
    }    

}
#enlaces{
    padding-left: 0;
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;

}

.enlace{
    font-size: 1.7em;
    text-decoration: none;
    color: rgb(255,42,109);
    transition: color 0.3s, text-decoration 0.3s;
    
}

.enlace:hover{
    text-decoration: underline;
    color: rgb(250, 122, 162);
    text-shadow:  0 0 5px rgb(255,42,109),
    0 0 10px rgb(255,42,109),
    0 0 20px rgb(255,42,109),
    0 0 40px rgb(255,42,109),
    0 0 80px rgb(255,42,109);
}

#logo{
    max-width: 7em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img{
    width: 20%;
    height: 20%;
    min-width: 5em;
    min-height: 5em;
    border-radius: 50%;
    border: solid rgb(246, 65, 122) 0.2em;
}

/* --------ejercicio 4 tarjeta que gira */
#Ppal{
    font-size: 0.7em;
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    perspective: 1000px;
}
#gira{
    width: 35em;

    aspect-ratio: 5/7;
    /* queda más suave con 1 segundo */
    transition: transform 1.0s;
    transform-style: preserve-3d;

}
#gira:hover{
    transform: rotateY(180deg);
}
.cara{
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    background-color: rgba(209,247,255,0.8);
    box-shadow:  0 0 5px rgb(2, 147, 157),
    0 0 10px rgb(10, 108, 114),
    0 0 20px rgb(37, 110, 116),
    0 0 40px rgb(53, 95, 98),
    0 0 80px rgb(60, 90, 92);
    animation: tarjeta 7s;

}
/* animacion porque me apetecía */
@keyframes tarjeta {
    from {
    background-color: rgb(209,247,255);
    box-shadow:  0 0 5px rgb(5,217,232),
    0 0 10px rgb(16, 219, 233),
    0 0 20px rgb(54, 219, 230),
    0 0 40px rgb(122, 213, 219),
    0 0 80px rgb(120, 162, 165);}
    to{
     background-color: rgba(209,247,255,0.8);
    box-shadow:  0 0 5px rgb(2, 147, 157),
    0 0 10px rgb(10, 108, 114),
    0 0 20px rgb(37, 110, 116),
    0 0 40px rgb(53, 95, 98),
    0 0 80px rgb(60, 90, 92);
    }
    
}

#trasera{
    border-radius: 1em 20em 1em 5em;
    transform: rotateY(180deg);
}
#frontal{
    border-radius: 20em 1em 5em;
}

@media (max-width: 410px) {
    #Ppal{
        font-size: 0.5em;
    }
    
}
@media (max-width: 310px) {
    #Ppal{
        font-size: 0.3em;
    }
    
}

/* --------ejercicio 1 tarjeta */
.cara article{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    
}

#encabezado{
    font-size: 3.5em;
    text-align: center;
    width: 90%;
}
#descripcion{
    text-align: justify;
    font-size: 1.9em;

}
#imagen{
    max-width: 35%;
    border-radius: 4em 1em 3em ;
    height: auto;
}
.lista{
    width: 90%;
    padding: 0px;
    display: flex;
    list-style-type: none;
}
#redes{
    margin-top: 5%;
    margin-bottom: 2%;
    justify-content: center;
    
}
#redes li{
    padding-inline: 2em;
}
#referencias{
    
    flex-direction: column;
    font-size: 2em;
}
.referencia{
    text-align: justify;
    justify-items: center;
}
.quote{
    font-size: 1em;
}
.person{
    font-size: 0.7em;
}

